{
  "extends": ["airbnb-typescript", "prettier"],
  "plugins": ["prettier"],
  "ignorePatterns": ["serviceWorker.ts"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-param-reassign": ["error", { props: true, ignorePropertyModificationsFor: ["state"] }]
  },
  "parserOptions": {
    "project": ["tsconfig.json"]
  }
}
